<div class="hexagon field field-<%= field.resource %> field-<%= field.number %>" ></div>
<div class="hexagon background field-background-<%= field.number %>" ></div>
<div class="caption caption-<%= field.number %>"><%= field.number %></div>
