<h3>Web Catan in Ruby</h3>

<div class="box">
  <span>Players</span>
  <% @catan.players.each do |player| %>
    <span><%= player.name %> (<%= player.color %>)</span>
  <% end %>
</div>

<div class="box">
  <span>Current player</span>
  <span><%= @catan.current_player.name %> (<%= @catan.current_player.color %>)</span>
</div>

<div class="box">
  <span>Turn</span>
  <%= @catan.turn %>
</div>

<canvas id="map" width="500" height="500"></canvas>

<script>
<% @catan.map.fields.each.with_index do |field, index| %>
  drawField(dimsForField[<%= field.index - 1 %>], colorForResource['<%= field.resource %>']);
<% end %>
</script>
