<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Web Catan
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Players
          </h4>
          <% @catan.players.each do |player| %>
            <%= render partial: 'player', locals: { player: player} %>
          <% end %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Current player
          </h4>
          <%= render partial: 'player', locals: { player: @catan.current_player} %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Turn
          </h4>
          <%= @catan.turn %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <div class="box level-item">
        <div class="map-board">
          <% @catan.map.fields.each.with_index do |field, index| %>
            <div class="hexagon field field-<%= field.resource %>" ></div>
          <% end %>
          <!-- <div class="hexagon field field-desert"></div>a
          <div class="hexagon field field-wool"></div>b -->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <div class="box level-item">
        <canvas id="map"></canvas>
      </div>
    </div>
  </div>
</section>


<script>
resizeCanvas();
<% @catan.map.fields.each.with_index do |field, index| %>
  drawField(
    <%= field.index %>,
    '<%= field.resource %>',
    <%= field.number %>,
  );
<% end %>
shapeCSSMap();
</script>
