<div class="hexagon field field-<%= field.resource %> field-<%= field.chit %>" ></div>
<div class="hexagon background field-background-<%= field.chit %>" ></div>
<div class="caption caption-<%= field.chit %>"><%= field.chit %></div>
