<%= form_tag(game_path, method: :patch) do %>
  <%= hidden_field_tag(:state, state) %>
  <div class="columns is-5">
    <div class="column">
      <div class="field is-horizontal">

        <div class="field-label is-normal">
          <%= label_tag(:tile, "Gain resources:", class: 'label') %>
        </div>

        <div class="field-body">
          <div class="field">
            <p class="control">
              <span class="select">
                <%= select(:tile, :chit, [2, 3, 4, 5, 6, 8, 9, 10, 11, 12], { required: true, disabled: disabled }) %>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <%= submit_tag("Gain", class: 'button is-link', disabled: disabled) %>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
<% end %>
