<div class="box player player-<%= player.color %> <%= 'player-current' if is_current %>">
  <div class="is-size-4 has-text-weight-bold"><%= player.name %></div>
  <span>Brick: <%= player.resources.brick %></span>
  <span>Lumber: <%= player.resources.lumber %></span>
  <span>Wool: <%= player.resources.wool %></span>
  <span>Grain: <%= player.resources.grain %></span>
  <span>Ore: <%= player.resources.ore %></span>
</div>
