<% if error %>
  <%= render partial: 'error_pane', locals: { error: error } %>
<% end %>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-2">
        <div class="box">
          <h4 class="is-size-4">
            Turn: #<%= turn %>
          </h4>
          <%= render partial: 'end_turn_form', locals: { state: state, disabled: !action_taken } %>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <h4 class="is-size-4">
            Players
          </h4>
          <% players.each do |player| %>
            <%= render partial: 'player', locals: { player: player, is_current: player == current_player } %>
          <% end %>
        </div>
      </div>
      <div class="column is-2">
        <div class="box">
          <h4 class="is-size-4">
            Settle with road
          </h4>
          <%= render partial: 'settle_with_road_form', locals: { state: state, disabled: action_taken } %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <%= render partial: 'map/board', locals: { fields: tiles, places: places, roads: roads } %>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <details>
        <summary>State (click to expand)</summary>
        <pre>
          <%= JSON.pretty_generate(state) %>
        </pre>
    </details>
  </div>
</section>

<script>
shapeMap();
</script>
