<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Players
          </h4>
          <% players.each do |player| %>
            <%= render partial: 'player', locals: { player: player} %>
          <% end %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Current player
          </h4>
          <%= render partial: 'player', locals: { player: current_player} %>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h4 class="is-size-4">
            Turn
          </h4>
          <%= turn %>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h4 class="is-size-4">
          Actions
        </h4>
        <% if error %>
          <article class="message is-danger">
            <div class="message-header">
              <p>Action unsuccessful</p>
            </div>
            <div class="message-body">
              <%= error %>
            </div>
          </article>
        <% end %>
        <%= form_tag(game_path, method: :patch) do %>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <%= label_tag(:settlement, "Settlement:", class: 'label') %>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <%= text_field(:settlement, :spot_index, class: 'input') %>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <%= label_tag(:road, "Road:", class: 'label') %>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <%= text_field(:road, :to, class: 'input') %>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag(:state, state) %>
          <div class="field">
            <div class="control">
              <%= submit_tag("Build", class: 'button is-link') %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <%= render partial: 'map', locals: { fields: tiles, places: places, roads: roads } %>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <details>
        <summary>State (click to expand)</summary>
        <pre>
          <%= JSON.pretty_generate(state) %>
        </pre>
    </details>
  </div>
</section>

<script>
shapeMap();
</script>
